@import "tailwindcss";

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}


.square {
  width: 100px;
  height: 100px;
  color: #e8e8e8;
  font-size: 5rem;
  border: solid 1px #000000f7;
}

.square_o {
  background-color: #38a90e;
}

.square_x {
  background-color: #ff0000;
}
.reset{
  margin-top: 2px;
  font-size:2rem;
  background-color: #fff312;
  border: 1px solid #f20404f7;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
}
p {
  font-size: 2rem;
  text-align: center;
}